/* div{
    width: 50%;
    height: 50%;
    background-color: red;
    
}

section{
    width: 500px;
    height: 500px;
    
} */

/* em */
/* html{
    font-size: 2em;
}

p{
    font-size: 4em;
}*/
/* rem */

/* html{
    font-size: 16px;
} */

/*  it double up the root element, 1 rem is 16px  */
/* p{
    font-size: 2rem;
} */


/* width take the entire viewport */

/* div{
    background: red;
    width: 100vw;
    height: 100px;
} */


/* height take the entire view */
/* div{
    width: 120px;
    height: 40vh;
    background-color: blue;
} */

/* typography */

/* h1{
    font-family: sans-serif;
    font-size: 50px;
    text-transform: capitalize;
    text-align: center;
    text-decoration: line-through;
}
p{
    line-height: 40px;
    letter-spacing: 3px;
    cursor: auto;
}
a{
    text-decoration: none;
    color: #000;
} */

/* Box-Model */
/* *{
    margin: 0;
} */

/* div{ */
    /* border-width: 5px;
    border-style: solid;
    border-color: brown;
    padding: 20px;
    margin: 20px; */
    /* margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px; */





    /* padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px; */



    /* shorthand  */
    /* border: 2px double red; */
    /* border-bottom: 2px solid grey;
    border-left: 2px solid grey;
    border-right: 2px solid blue;
    border-top: 2px solid black; */
/* } */


/* div{
    height: 100vh;
    background-color: red;
    background-image: url('https://images.pexels.com/photos/230129/pexels-photo-230129.jpeg?auto=compress&cs=tinysrgb&w=1060&h=1050&dpr=2');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-position:center ;
    background-attachment: fixed;
} */

/* gradient */
/* div{
    height: 100vh;
    background-color: red;
    background-image:linear-gradient(rgba(15, 78, 15, 0.514),rgb(0, 47, 255) ), url('https://images.pexels.com/photos/230129/pexels-photo-230129.jpeg?auto=compress&cs=tinysrgb&w=1060&h=1050&dpr=2'); to right,top, bottom and left property
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-position:center ;
    background-attachment: fixed;
    filter: blur(20px); 
    filter: brightness(10%);
    filter: contrast(30%);
    filter: grayscale(70%);
    filter: saturate(10%);
} */
/* css selector */
/* .one{
    color: red;
    font-size: 3rem;
}
.two{
    color: blue;
    font-size: 5rem;
}
.three{
    color: green;
}
#value{
    color: red;
    font-size: 50px;
} */

/* css pseudo class */
/* div *{
    border: 2px solid red;
} */

/* element with class */
/* div.value{
    color: red;

} */

/* div p{
    color: red;
    font-size: 30px;
} */
 /* Element > Element */
/* div > p{
    color: red;
    font-size: 30px;
} */
/* div + p{
    color: red;
    font-size: 30px;
} */

/* Pseudo Selector */


/* .link:link{
    color:red;
}


.visited:visited{
    color: rgb(194, 10, 19);
}
.hover:hover{
    color: green;
}
.active:active{
    color: rgb(231, 217, 12);
} */

/* Display */

/* span{
    background-color: black;
    color: white;

} */
/* .secondDiv{
    background-color: blue;
    color: white;
    width: 200px;
    height: 200px;
}
.span2{
    display: inline-block;
    background-color: green;
    height: 300px;
    width: 300px;


} */

/* div{
    background-color: black;
    color: white;
    display: inline-block;
    height: 50px;
    width: 50px;
} */
/* to change the span to block, display none will remove the element */
/* span{
    display: block;
    background-color: red;
} */


/* Box shadow */

/* div {
    width: 200px;
    height: 200px;
    background-color: rgb(15, 15, 100);
    box-shadow: 10px 10px 20px orange;
} */

/* body {
    background-color: black;
}

h1{
    text-shadow: 2px 2px 2px  rgb(196, 196, 212);
    font-size: 5rem;
    text-align: center;
    margin-bottom: 50px;
} */

/* CSS INHERITANCE */
 /* .parent{
    color: orange;
    font-family: serif;
    font-weight: bold;
    font-size: 2rem;
    width: 100px;
    height: 100px;
    background: teal;
 }
 .children{
    position: relative;
    left: 100px;
    height: inherit;
    width: inherit;
    background: inherit;

 } */

 /* Position */
 /* .container{
    background: gray;
    width: 90%;
    height: 500px;
 }
 .d{
    width: 100px;
    height: 100px;
 }
 .one{
    background: red;
    position: relative;
    left: 100px;
 }
 .two{
    background: blue;
    position: absolute;
    left: 100px;
 }
 .three{
    background: purple;
    position: sticky;
    top: 100px;
 } */

 *{
    margin: 0;
    padding: 0;
 }
/* 
 body{
    height: 100vh;
    background-color: blueviolet;
 } */

 /* .container{ */
    /* border: 2px solid white; */
    /* width: 800px; */
    /* height: 400px; */
    /* margin: 20px auto; */
    /* flexbox stuff here */
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: space-around; */
    /* flex-wrap: wrap; */
    /* align-items: center; */
    /* align-content: stretch; */
    /* align-content: center; */
 /* } */

 /* .container .child{
    width: 400px;
    height: 50px;
    background: crimson;
    text-align: center;
    color: aliceblue;
    margin: 5px;

 } */

 /* .special{ */
    /* order: 1; */
    /* align-self: flex-start; */
    /* flex-grow: 1; */
    /* flex-basis:20px ; */
    /* flex-shrink:2 ; */
 /* } */

 /* .special-two{ */
    /* flex-grow: 4; */
    /* height: 500px; */
    /* flex-basis: 100px; */
 /* } */

 /* flexbox froggy */

 /* grid  */


 .container{
    background: rgb(34, 34, 34);
    padding: 20px;
    height: 100vh;
    /* grid stuff here */
    display: grid;
    grid-template-columns: repeat(3,1fr) ;
    grid-template-rows: 100px 100px 100px;
    gap: 10px;
 }

 .s{
    padding: 20px;
    background: rgb(84, 84, 84);
    text-align: center;
    color: white;
 }