/* div{
    width: 50%;
    height: 50%;
    background-color: red;
    
}

section{
    width: 500px;
    height: 500px;
    
} */

/* em */
/* html{
    font-size: 2em;
}

p{
    font-size: 4em;
}*/
/* rem */

/* html{
    font-size: 16px;
} */

/*  it double up the root element, 1 rem is 16px  */
/* p{
    font-size: 2rem;
} */


/* width take the entire viewport */

/* div{
    background: red;
    width: 100vw;
    height: 100px;
} */


/* height take the entire view */
/* div{
    width: 120px;
    height: 40vh;
    background-color: blue;
} */

/* typography */

/* h1{
    font-family: sans-serif;
    font-size: 50px;
    text-transform: capitalize;
    text-align: center;
    text-decoration: line-through;
}
p{
    line-height: 40px;
    letter-spacing: 3px;
    cursor: auto;
}
a{
    text-decoration: none;
    color: #000;
} */

/* Box-Model */
*{
    margin: 0;
}

/* div{ */
    /* border-width: 5px;
    border-style: solid;
    border-color: brown;
    padding: 20px;
    margin: 20px; */
    /* margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px; */





    /* padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px; */



    /* shorthand  */
    /* border: 2px double red; */
    /* border-bottom: 2px solid grey;
    border-left: 2px solid grey;
    border-right: 2px solid blue;
    border-top: 2px solid black; */
/* } */


/* div{
    height: 100vh;
    background-color: red;
    background-image: url('https://images.pexels.com/photos/230129/pexels-photo-230129.jpeg?auto=compress&cs=tinysrgb&w=1060&h=1050&dpr=2');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-position:center ;
    background-attachment: fixed;
} */

/* gradient */
/* div{
    height: 100vh;
    background-color: red;
    background-image:linear-gradient(rgba(15, 78, 15, 0.514),rgb(0, 47, 255) ), url('https://images.pexels.com/photos/230129/pexels-photo-230129.jpeg?auto=compress&cs=tinysrgb&w=1060&h=1050&dpr=2'); to right,top, bottom and left property
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-position:center ;
    background-attachment: fixed;
    filter: blur(20px); 
    filter: brightness(10%);
    filter: contrast(30%);
    filter: grayscale(70%);
    filter: saturate(10%);
} */
/* css selector */
/* .one{
    color: red;
    font-size: 3rem;
}
.two{
    color: blue;
    font-size: 5rem;
}
.three{
    color: green;
}
#value{
    color: red;
    font-size: 50px;
} */

/* css pseudo class */
/* div *{
    border: 2px solid red;
} */

/* element with class */
/* div.value{
    color: red;

} */

/* div p{
    color: red;
    font-size: 30px;
} */
 /* Element > Element */
/* div > p{
    color: red;
    font-size: 30px;
} */
/* div + p{
    color: red;
    font-size: 30px;
} */

/* Pseudo Selector */


/* .link:link{
    color:red;
}


.visited:visited{
    color: rgb(194, 10, 19);
}
.hover:hover{
    color: green;
}
.active:active{
    color: rgb(231, 217, 12);
} */

/* Display */

/* span{
    background-color: black;
    color: white;

} */
/* .secondDiv{
    background-color: blue;
    color: white;
    width: 200px;
    height: 200px;
}
.span2{
    display: inline-block;
    background-color: green;
    height: 300px;
    width: 300px;


} */

div{
    background-color: black;
    color: white;
    display: inline-block;
    height: 50px;
    width: 50px;
}
/* to change the span to block, display none will remove the element */
span{
    display: block;
    background-color: red;
}